<%@genres.each do |genre|%>
  <h3><%=genre.name%></h3>
  <%genre.books.each do |book|%>
    <strong><p><%=book.title%></p></strong>
    <%=book.users.uniq.count ==1 ? "Author:" : "Authors:"%>
    <%book.users.uniq.each do |user|%>
      <%=user.username%>
    <%end%>
    <%=book.summary%>
    <br></br>
  <%end%>
<%end%>
