<%if @user.errors.any?%>
<div id="error_explanation">
<h2><%=pluralize(@user.errors.count, "error")%> popped up:</h2>
  <%@user.errors.full_messages.each do |e|%>
  <li><%=e%></li>
</div>
  <%end%>
<%end%>

<%= form_tag sessions_path do %>
  <label for="email">Email:</label>
  <%=text_field_tag :email%>
  <br></br>
  <label for="password">Password: </label>
  <%=text_field_tag :password%>
  <%= submit_tag "Login" %>
<% end %>
