
<%if @user.errors.any?%>
<div id="error_explanation">
<h2><%=pluralize(@user.errors.count, "error")%> popped up:</h2>
  <%@user.errors.full_messages.each do |e|%>
  <li><%=e%></li>
</div>
  <%end%>
<%end%>

  <%=f.label :username%>
  <%=f.text_field :username%>
  <br></br>
  <%=f.label :email%>
  <%=f.text_field :email%>
  <br></br>
  <%=f.label :password%>
  <%=f.text_field :password%>
  <br></br>
