<%if logged_in? && current_user==@user%>
    <%=link_to "Create a New Story", new_user_book_path(@user)%>
    <br></br>

Your Stories:
  <%=render partial: 'written-story-list', locals: {user: @user}%>

  <%=render partial: 'story_list', locals: {user: @user}%>

<%else%>
<h2><%=@user.username%>'s Stories</h2>
    <%=render partial: 'written-story-list', locals: {user: @user}%>
<%end%>
