<%if logged_in? && current_user==@user%>
  <h3>Welcome back, <%=@user.username%></h3>
    <%=link_to "Create a New Story", new_user_book_path(@user)%>
    <br></br>

  <%=render partial: 'written-story-list', locals: {user: @user}%>

<%else%>
  <h2><%=@user.username%></h2>
  <%=render partial: 'story_list', locals: {user: @user}%>
<%end%>

<%if logged_in?%>
  <%=link_to 'logout', logout_path, method: :post%>
<%end%>
