<%if logged_in? && current_user==@user%>
    <%=link_to "Create a New Story", new_user_book_path(@user)%>
    <br></br>

Your Stories:
  <%=render partial: 'written-story-list', locals: {user: @user}%>
<br></br>
  <%=render partial: 'story_list', locals: {user: @user}%>

<%else%>
<h2><%=@user.username%>'s Featured Stories</h2>
<%book = @user.books.first%>
  <div>
    <h3 class="book-name"><%=book.title%></h3>
    <p class="book-summary"><%=book.summary%></p>
    <p class="book-genre"><p><%="Genre: " if book.genres.uniq.count != 0%><%book.genres.each do |g|%>
        <%=g.name%></p>
      <%end%></p>
  </div>
  <a href="#" class="js-next" data-id="<%=@user.books.first.id%>">Next</a>
  <a href="#" class="js-all">All Stories</a>
<%end%>
<br></br>

<%if @user.uid == nil && @user ==current_user%>
  <%=link_to "Edit User Profile", edit_user_path(@user)%>
<%end%>

<script type="text/javascript" charset="utf-8">
//PROBLEM CURRENTLY: The text does change, but immediately resets to the original text right before end of call. Disappears before end of call block
function getNextId() {
  let Id = parseInt($(".js-next").attr("data-id"))
  debugger
  let newIndex = <%=@book_ids%>.indexOf(Id) + 1;
  if (<%=@book_ids%>.length === 1) {
    return Id
  } else return <%=@book_ids%>[newIndex]
}

$(function() {
  $('.js-next').on('click', function() {
    debugger
    let nextId = getNextId();
    $.get("/books/"+nextId+".json", function(data) {
      debugger
      let book = data['data']['attributes']
      $(".book-name").text(book["title"])
      $(".book-genre").text(book["genre-ids"])
      $(".book-summary").text(book["summary"])
      $(".js-next").attr("data-id", nextId);
      debugger
    })
  });
});
</script>




<!-- <button class="js-all">View the Books <%=@user.username%> is Following</button> -->
  <!-- <%=render partial: 'written-story-list', locals: {user: @user}%> -->
