<h2><%=@book.title%></h2>
<h3>
  <%=@book.users.uniq.count ==1 ? "Author:" : "Authors:"%>
    <%@book.users.uniq.each do |user| %>
  <%=link_to user.username, user_path(user) if @book.users%></h3>
  <%end%>
<p><%=@book.summary%></p>
  <%=link_to "Edit", edit_user_book_path(current_user, @book) if current_user.books.find_by(id: @book.id)%>

  <%=render partial: 'follow_books', locals: {book: @book} if !current_user.books.find_by(id: @book.id)%>
