<h2><%=@book.title%></h2>
<h3>
  <%=@book.users.uniq.count ==1 ? "Author:" : "Authors:"%>
    <%@book.users.uniq.each do |user| %>
  <%=user.username%></h3>
  <%end%>
<%binding.pry%>
<%if logged_in? && current_user.following.find_by(id: @book.id)%>
  <%=link_to "Unfollow", unfollow_path, method: :post%>
<%else%>
  <%=link_to "Follow", follow_path, method: :post%>
<%end%>
