<body>
  <div class = "signupBlock">
    <div class="hikari-header">
      Welcome to Hikari!
    </div>
    <div class="signupOptions">
    <%if logged_in?%>
      <h3>Welcome, <%=link_to current_user.username, user_path(current_user)%></h3>
      <%=link_to 'logout', logout_path, method: :post%>
    <%else%>
      <%=link_to "Sign In", login_path%>
      <%=link_to "Sign Up", signup_path%>
      <%= link_to('Log in with Facebook!', '/auth/facebook') %>
    <%end%>
    </div>
  </div>
</body>
