<!DOCTYPE html>
<html>
  <head>
    <title>Hikari Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <class = "Hello">
      <%if logged_in?%>
        <h3>Welcome, <%=link_to current_user.username, user_path(current_user)%></h3>
        <%=link_to 'logout', logout_path, method: :post%>
      <%else%>
        <%=link_to "Sign In", login_path%>
        <%=link_to "Sign Up", signup_path%>
      <%end%>
    </class>
    <%= yield %>
  </body>
</html>
